# ORCID API Credentials
# Consigue estos datos en tu panel de ORCID (Developer Tools)
ORCID_CLIENT_ID=tu_client_id_aqui
ORCID_CLIENT_SECRET=tu_client_secret_aqui

# Tu ID de ORCID (ejemplo: 0000-0002-1825-0097)
ORCID_ID=tu_orcid_id_aqui
